/* src/components/Navbar.css */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fefefe;
  border-bottom: 1px solid #ddd;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.shop-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-right: 20px;
  border: 2px solid transparent; 
  background-color: transparent;
}



.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 25px;
  
}

.navbar-center button {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
  border: 2px solid transparent; 
  border-radius: 4px; 
  transition: color 0.3s ease, border-color 0.3s ease;
}

.navbar-center button:hover {
  border-color: black;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}


.navbar-right button {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease;
  border: 2px solid transparent; 
  border-radius: 4px; 
  transition: color 0.3s ease, border-color 0.3s ease;
  background-color: transparent;
}


.navbar-right button:hover {
  border-color: black;
  background-color: #dedede;
}



.greeting {
  font-size: 16px;
  font-weight: 500;
}

.cart-icon {
  display: flex;
  align-items: center;
  gap: 6px;
}

.link-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;  
  padding: 0;
}

